body
{
margin: 2;
padding: 0;
background-color: rgb(98, 98, 98);

}

h3{
    color:white;
}

p{
    color:white;
}

h1
{
    background-color:rgb(178, 178, 178);
    color:rgb(54, 54, 54);
    margin: 5;
    padding: 30px;
    text-align: center;
}

a
{
 color: rgb(255, 255, 255);
}

img
{
    width: 500px;
}